<!-- PROVIDE THE NAME IN THE TAG :: THE REST OF THE TEXT IS IN :: APP/VIEWS/LAYOUTS/APPLICATIONS.HTML.ERB -->
<% provide(:title, "USER") %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/hover.zoom.js"></script>
    <script src="assets/js/hover.zoom.conf.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body bgcolor="#000000" class="bg_show">

    <%= render :partial => 'layouts/navbar' %>

    <!-- IMAGE PARTIAL SECTION -->
    <div class="img_container">
      <center>

        <img class="img_part" src="/assets/gym_w7.jpg" width="50%">
      </center>
    </div>


    <!-- WELCOME -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <center>
                        <br>
                        <%= gravatar_for @user %>
                        <h1><font color="#f58514">Hi, <%= @user.name %> !</font></h1>
                        <!-- TEXT MOTION EFFECT -->
                        <div class="content2">
                          <div class="content2__container">
                                <p class="content2__container__text">
                                  Be
                                </p>
                                <p class="content2__container__final__text">
                                  than your excuses
                                </p>
                                <ul class="content2__container__list">
                                  <li class="content2__container__list__item">faster ...</li>
                                  <li class="content2__container__list__item">coolest ...</li>
                                  <li class="content2__container__list__item">stronger ...</li>
                                  <li class="content2__container__list__item">smartest ...</li>
                                  
                                </ul>
                          </div>
                        </div>

                            <p><h3><b>Welcome buddy, thanks for subscribe.</b></h3></p>
                            <p><h4>The goal of this application is that you can integrate yourself into the world of exercise without needing to worry about who? / how? / where?. You will find important information so that you can start a safe and efficient lifestyle today.</h4>
                            </p>
                        <br>
                        <p><h4><b>
                            ¡¡ LET'S START !!
                        </b></h4></p>
                    </center>
                </div><!-- /col-lg-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /ww -->
    
    <br>

    <!-- PLAN SECTION -->
    <div class="plan_sec">
        <center>
          <h1><font color="#f58514">Prefer other plan?</font></h1>
        </center>

      <br>

    <!-- PLAN SECTION BUTTONS-->
    <center>
        <a rel="nofollow" rel="noreferrer" class="Button" data-tooltip="FREE/ACTUAL">
            <span class="Button__textWrapper">
            <span class="Button__text">amateur</span>
            <span class="Button__icon" aria-hidden="true"></span></span>
        </a>

        <a rel="nofollow" rel="noreferrer" class="Button" href="<%= plan_path %>" data-tooltip="$900 month">
            <span class="Button__textWrapper">
            <span class="Button__text">midium</span>
            <span class="Button__icon" aria-hidden="true"></span></span>
        </a> 

        <a rel="nofollow" rel="noreferrer" class="Button" href="<%= plan_path %>" data-tooltip="$1,200 month">
            <span class="Button__textWrapper">
            <span class="Button__text">advanced</span>
            <span class="Button__icon" aria-hidden="true"></span></span>
        </a>                   
    </center>

    <br><br><br>

    </div>
    
    <!-- USER BODY PROFILE ZONE -->
    <center>
        <h1><font color="#f58514">Profile</font></h1>
        <h5><font color="#333333"><font color="#f58514">[</font> please fill the next form to create your profile information <font color="#f58514">]</font></font></h5>
    </center>

    <br>

    <div class="container_body">
            <table class="body_t">
                <tr>
                    <th id="tt1" ><p><h3><b>body</b></h3></p></th>
                    <!-- body checkboxes -->
                    <th>

                        <center>
                            <img id="typ" src="/assets/cuerpos.png" width="600">
                        </center>
                    </th>

                    <th>
                        <center>
                            <h3 id="tt"><b>basic profile</b></h3>

                        <form action="#" class="prof_inf">
                            <div class="inf_1">
                                <input type="text" name="firstname" placeholder="height">
                                <input type="text" name="firstname" placeholder="weight">
                                <input type="text" name="firstname" placeholder="ege">
                            </div>

                            <div class="">
                                genre: 
                                <select name="genre">
                                    <option value="volvo" selected>male</option>
                                    <option value="fiat">female</option>
                                </select>
                                body: 
                                <select name="body">
                                    <option value="volvo" selected>ectomorph</option>
                                    <option value="fiat">endomorph</option>
                                    <option value="fiat">mesomorph</option>
                                </select>
                                injury: 
                                <select name="body">
                                    <option value="volvo" selected>none</option>
                                    <option value="volvo">neck</option>
                                    <option value="fiat">shoulder</option>
                                    <option value="fiat">back</option>
                                    <option value="volvo">low back</option>
                                    <option value="fiat">wrist</option>
                                    <option value="fiat">knee</option>
                                    <option value="fiat">ankle</option>
                                </select>
                            </div>

                            <br>

                            <div>
                                <input id="submit" type="submit" value="ok">
                            </div>

                        </form>

                        </center>
                    </th>

                    <th id="tt3" ><h3><b>injuries?</b></h3></th>
                    <th>

                        <center>
                            <img id="inj" src="/assets/injurie.jpg" width="350">
                        </center>
                    </th>
                </tr>
            </table>
    </div><!-- /container_body -->
    
    
    <!-- +++++ Footer Section +++++ -->
    
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>My Bunker</h4>
                    <p>
                        Some Address 987,<br/>
                        +34 9054 5455, <br/>
                        Madrid, Spain.
                    </p>
                </div><!-- /col-lg-4 -->
                
                <div class="col-lg-4">
                    <h4>My Links</h4>
                    <p>
                        <a href="#">Dribbble</a><br/>
                        <a href="#">Twitter</a><br/>
                        <a href="#">Facebook</a>
                    </p>
                </div><!-- /col-lg-4 -->
                
                <div class="col-lg-4">
                    <h4>About Stanley</h4>
                    <p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
                </div><!-- /col-lg-4 -->
            
            </div>
        
        </div>
    </div>

    <!-- <%= render :partial => 'layouts/footer' %> -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.min.js"></script>

  </body>
</html>