<a class="menu-bar" data-toggle="collapse" href="#menu">
      <span class="bars"></span>            
    </a>
    <div class="collapse menu" id="menu">
      <ul class="list-inline">
        <li>&#124; <%= link_to "home",       root_path %> &#124;</li>
        <li>&#124; <%= link_to "plan",       plan_path %> &#124;</li>
        <li>&#124; <%= link_to "nutrition",  nutrition_path %> &#124;</li>
        <li>&#124; <%= link_to "motivation", motivation_path %> &#124;</li>
        <li>&#124; <%= link_to "gallery",    gallery_path %> &#124;</li>
        <li>&#124; <%= link_to "us",         contact_path %> &#124;</li>
      </ul>   
    </div>
    <div class="container">
      <div class="row">
        <h2 class="text-center">YourMotivationApp</h2>
      </div>
    </div>